Add OID	1.3.6.1.1.22

I'm using an LDAP server that provides OID 1.3.6.1.1.22, which appears undocumented.

The OID is described in [RFC 9171 section 3](https://tools.ietf.org/html/rfc6171#section-3)

Excerpt:

>  When the control is attached to an LDAP request, the requested
   operation MUST NOT be performed on copied information.  That is, the
   requested operation MUST be performed on original information.